.home__section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    animation: opacity 1.4s ease-in-out;
    @extend %display-flex-column; 
    
    &-container {
        position: relative;
        width: 80%;
        max-width: 1000px;
        margin-bottom: 50px;
        height: auto;
        text-align: center;
        cursor: pointer;
        &-paragraph,
        &-paragraph2,
        &-paragraph3 {
            @extend %font-package-didact;
            text-align: center;
            margin: 0;
            display: inline-block;
            font-size: 1.6rem;
            font-weight: 400;
            color: $black-color;
            line-height: 2.5rem;
            animation: alternating 24s infinite;
            animation-direction: normal;
            animation-timing-function: ease-in-out;
            will-change: transform, opacity;
            &_list {
                display: inline-block;
                font-size: inherit;
                overflow: hidden;
                height: 1em;
                margin-bottom: -.2em;
                line-height: 1.2rem;  
                padding: 0;
                & > li {
                    text-align: start;
                    font-size: inherit;
                    list-style: none;
                    margin: 0 0 .8rem 5px;
                    color: $main-color;
                }
                & > li:first-child {
                    margin-top: 0;
                    animation-name: move_text;
                    animation-duration: 4s;
                    animation-delay: 1s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                    animation-direction: alternate;
                    will-change: transform, opacity;
                }
                & > li:first-child {
                    margin-left: 20px;
                }
            }
            & > label {
                cursor: pointer;
            }
        }
        &-paragraph2,
        &-paragraph3 {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            opacity: 0;
            animation-delay: 8s;
        }
        &-paragraph3 {
            animation-delay: 16s;
        }
        @keyframes alternating {
            0% {
                opacity: 0;
                transform: scale(.8);
            }
            12% {
                opacity: 1;
                transform: scale(1);
            }
            20% {
                opacity: 1;
                transform: scale(1);
            }
            40% {
                opacity: 0;
                transform: scale(.9);
            }
            50% {
                opacity: 0;
                transform: scale(.9);
            }
            100% {
                opacity: 0;
                transform: scale(.8);
            }
        }
    }
}

.home__section .main__logo {
    position: absolute;
    height: 190px;
    top: 140px;
    left: 2.5%;
    right: 2.5%;
    z-index: 12;
    @extend %display-flex-column;
    justify-content: flex-end;
    cursor: initial;
    &-cont1 {
        width: 300px;
        height: 50%;
        position: relative;
        & > img {
            position: absolute;
            width: 20px;
            transition: 1s ease-in-out all;

            opacity: 0;
            animation-name: rebound;
            animation-duration: 3s;
            animation-delay: .5s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            will-change: transform, opacity;
        }
        & > img:first-child {
            top: 20px;
            left: 21%;
        }
        & > img:nth-child(2) {
            top: 20px;
            left: 41%;
            animation-delay: .9s;
        }
        & > img:nth-child(3) {
            top: 20px;
            left: 57%;
            animation-delay: 1.2s;
        }
        & > img:nth-child(4) {
            top: 20px;
            left: 68%;
            animation-delay: .7s;
        }
        & > img:nth-child(5) {
            top: 20px;
            left: 74%;
            animation-delay: 1.8s;
        }

        & > img:nth-child(6) {
            top: 45px;
            left: 34%;
            animation-delay: 1s;
        }
        & > img:nth-child(7) {
            top: 45px;
            left: 57%;
            animation-delay: 2s;
        }
        & > img:nth-child(8) {
            top: 70px;
            left: 57%;
            animation-delay: 1.9s;
        }
        & > img:nth-child(9) {
            top: 70px;
            left: 51%;
            animation-delay: .4s;
        }
    }
    &-cont2 {
        width: 100%;
        height: 40%;
        @extend %display-flex-column;
        justify-content: center;
        & > img {
            width: 100%;
            max-width: 160px;
        }
    }
}

.home__section .main__logo:hover {
    transform: scale(1);
}

@media screen and(max-width: 821px) {
    .home__section .main__logo {
        top: 70px;
    }
}

@media screen and(max-width: 450px) { 
    .home__section-container {
        width: 80%;
        &-paragraph {
            &_list {
                padding: 0;
                height: 1.1em;
            }
            @keyframes move_text
            {
                0% {
                    margin-top: 0;
                }
                100% {
                    margin-top: -1.5em;
                }
            }
        }
        &-paragraph,
        &-paragraph2,
        &-paragraph3 {
            width: 100%;
            font-size: 1.3rem;
            line-height: 34px;
        }
    }
    .home__section .main__logo {
        top: 80px;

        &-cont1 {
            width: 220px;
            height: 50%;
            & > img {
                width: 15px;
            }
        }

        &-cont2 {
            height: 50%;
            justify-content: flex-start;
            & > img {
                margin-top: 10px;
                max-width: 140px;
            }
        }
    }
}

@keyframes rebound {
    0% {
        opacity: 1;
        transform: translateY(-300px);
    }
    20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(0px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}