.mainContainer__slide{
    max-width: 365px;
    height: 220px;
    cursor: pointer;
}

.mainContainer__slideModal{
    max-width: 854px;
    min-width: 400px;
    aspect-ratio: 16/9;

    & > div {
        max-width: inherit;
        aspect-ratio: inherit;
        & > div {

            & > div {
                display: none;
            }
        }
    }
}

.slide__mediaText {
    & > p {
        transition: .2s ease-out all;
        transition-delay: .1s;
    }
}

.mainContainer__slide:hover {
    transform: scale(1.05);
    opacity: .9;
}

.mainContainer__slide:hover .slide__mediaText {
    transition: 1s;
    background-color: rgba($color: #FFF, $alpha: .9);
} 

.mainContainer__slide:hover .slide__mediaText {
    & > p {
        color: $black-color;
    }
}

.videoProyect {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.videoModal {
    max-width: 100%;
    aspect-ratio: 16/9;
}